@import '@vars';

.signin {
    width: 100%;
    min-height: 100vh;
    background-color: $color-gray3;
    display: flex;
    align-items: center;
    justify-content: center;
    &__wrapper {
        width: 100%;
        max-width: 376px;
    }
    &__head {
        display: flex;
        align-items: center;
        justify-content: center;
        margin-bottom: 16px;
    }
    &__logo {
        margin-right: 12px;
        img {
            display: block;
            width: 45px;
            height: 45px;
        }
    }
    &__title {
        font-size: 24px;
        line-height: 1.2;
        font-weight: 400;
        color: $color-text1;
    }
    &__body {
        background: #FFFFFF;
        padding: 20px 17px;
        box-shadow: 0 1px 0 rgba($color-text3, 0.11), 0 2px 4px rgba($color-text3, 0.12), 0 5px 5px rgba($color-text3, 0.06), 0 3.5px 35px rgba($color-text3, 0.1);
        border-radius: 9px;
        margin-bottom: 50px;
    }
    &__subtitle {
        font-size: 18px;
        line-height: 1.2;
        font-weight: 400;
        color: $color-text1;
        text-align: center;
        margin-bottom: 25px;
    }
}