@import "@vars";

.button {
    display: inline-block;
    vertical-align: top;
    min-width: 100px;
    text-align: center;
    font-size: 12px;
    line-height: 1.1;
    font-weight: 400;
    color: #fff;
    text-decoration: none;
    padding: 8px 16px;
    border: 1px solid $color-blue;
    border-radius: 4px;
    background-color: $color-blue;
    cursor: pointer;
    transition: border-color $time-trs, background-color $time-trs, color $time-trs;
    &:hover {
        background-color: #fff;
        color: $color-blue;
    }
    &--red {
        background-color: $color-red;
        border-color: $color-red;
        &:hover {
            background-color: #fff;
            color: $color-red;
        }
    }
    &--green {
        background-color: $color-green;
        border-color: $color-green;
        &:hover {
            background-color: #fff;
            color: $color-green;
        }
    }
}
