@import '@vars';

.links-item {
    line-height: 1.5;
    font-weight: 400;
    a {
        text-decoration: none;
        color: $color-blue;
        transition: color $time-trs;
        &:hover {
            color: $color-green;
        }
    }
}

@media (min-width: 768px) {
    .links-item {
        font-size: 14px;
    }
}

@media (max-width: 767px) {
    .links-item {
        font-size: 13px;
    }
}