@import '@vars';

.orders {
    &__filter {
        padding: 20px;
        border-bottom: 0.5px solid rgba($color-text3, 0.12);
    }
    &__items {
        min-height: 300px;
        padding: 20px;
        border-bottom: 0.5px solid rgba($color-text3, 0.12);
    }
    &__pagination {
        padding: 20px;
    }
}
