@import '@vars';

.select {
    font-size: 11px;
    line-height: 1.2;
    font-weight: 400;
    color: $color-text1;
    padding: 8px 20px 8px 14px;
    border: 1px solid $color-gray1;
    border-radius: 4px;
    appearance: none;
    background: #fff url('@assets/img/ico_select.svg') no-repeat right 7px center / 5px;
}