$color-green: #0EC261;
$color-red: #C4183C;
$color-blue: #007BFF;
$color-black: #121212;
$color-gray: #CACEDB;
$color-gray-light: #F5F6F8;

$color-text1: #3D5170;
$color-text2: #495057;
$color-text3: #5A6169;

$time-trs: 0.4s;

$font: "Roboto", sans-serif;
