@import "@vars";

.app {
    &__error {
        width: 100%;
        min-height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
    }
}

.entities {
    &__filter {
        border-bottom: 0.5px solid rgba($color-text3, 0.12);
    }
    &__items {
        min-height: 300px;
        border-bottom: 0.5px solid rgba($color-text3, 0.12);
    }
    &__table {
        padding: 10px 0;
        width: 100%;
    }
    &__thead {
        position: sticky;
    }
    &__tbody {
    }
    &__tr {
        display: flex;
        align-items: stretch;
        justify-content: flex-start;
        font-size: 12px;
        line-height: 1.2;
        font-weight: 400;
        color: $color-text1;
        padding: 10px 0;
    }
    &__link {
        text-decoration: none;
        transition: background-color $time-trs;
        &:hover {
            background-color: lighten($color-gray3, 5%);
        }
    }
    &__th {
        padding: 15px;
        font-weight: 700;
    }
    &__td {
        padding: 5px 15px;
        img {
            display: block;
            max-width: 100%;
        }
    }
}

@media (min-width: 576px) {
    .entities {
        &__filter {
            padding: 20px;
        }
        &__items {
            padding: 0 20px;
        }
        &__pagination {
            padding: 20px;
        }
    }
}

@media (max-width: 575px) {
    .entities {
        &__filter {
            padding: 15px;
        }
        &__items {
            padding: 0 15px;
        }
        &__pagination {
            padding: 15px;
        }
    }
}

@media (min-width: 768px) {
    .entities {
        &__th, &__td {
            flex: 1;
        }
    }
}

@media (max-width: 767px) {
    .entities {
        &__thead {
            display: none;
        }
        &__tr {
            flex-wrap: wrap;
            border-bottom: 1px solid rgba($color-text3, 0.12);
        }
    }
}

@media (min-width: 576px) and (max-width: 767px) {
    .entities {
        &__td {
            width: 33.333%;
            &:nth-child(1) {
                width: 66.666%;
            }
        }
    }
}

@media (max-width: 575px) {
    .entities {
        &__td {
            width: 50%;
            &:nth-child(1) {
                width: 100%;
            }
        }
    }
}