@media (min-width: 576px) {
    .links {
        &__wrapper {
            display: flex;
            align-items: center;
            justify-content: flex-start;
            margin: -4px -8px;
        }
        &__item {
            padding: 4px 8px;
        }
    }
}

@media (max-width: 575px) {
    .links {
        text-align: center;
        &__item {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
}