@import '@vars';

.filter {
    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    &__part {

    }
    &__props {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        margin: 0 -7px;
    }
    &__item {
        width: 140px;
        padding: 0 7px;
        select {
            width: 100%;
        }
    }
    &__apply {

    }
}